<!DOCTYPE HTML "EN">
<html>
<head>
	<title>Chris Lee</title>
	<!-- CSS Files -->
	<link rel = "stylesheet" href = "../assets/css/main.css" type = "text/css" media = "screen"/>

	<!-- Google Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Raleway:100|Quicksand' rel='stylesheet' type='text/css'>
</head>

<body>

	<!-- CONTENT STARTS HERE -->
	<div id = "holder">
		<h1 class = "name"> Chris Lee </h1>
		<div id = "dividor"></div>
		<!-- Social Media Connections -->
		<div id = "connect">
			<a href = "https://www.facebook.com/clhereis"><img class = "icon" src = "../assets/images/facebook.jpg" alt = "Facebook"/></a><br>
			<a href = "https://github.com/sihrc"><img class = "icon" src = "../assets/images/github.jpg" alt = "Github"/></a><br>
			<a href = "https://plus.google.com/103759915727068716345/posts"><img class = "icon" src = "../assets/images/google.jpg" alt = "Google"/></a><br>
			<a href = "http://www.linkedin.com/pub/christopher-lee/76/136/a7b"><img class = "icon" src = "../assets/images/linked.jpg" alt = "LinkedIn"/></a>
		</div>

		<!-- Name and Profile Picture -->
		<div id = "body">
			<img id = "profile" src = "../assets/images/profile.jpg"/>
		</div>

		<!-- Bio and Passion Statement -->
		<div id = "bio">
			"Hi, I'm a  <br>
			<strong>Software Engineer </strong>,				<br>
			<strong>Project Manager </strong>,					<br>
			and <strong>Designer</strong>						<br>
			and my <strong>passion</strong> is 					<br>
			<strong>furthering technology</strong>				<br>
			to bring more 										<br>
			<strong>meaning</strong> and <strong>value</strong>	<br>
			to <strong>people.</strong>"						<br>
			<br>
			<a href = "../assets/content/ChrisLee_Resume.pdf"><img class = "icon" src = "../assets/images/resume.png"/></a>
			<a href = "mailto:sihrcleewebsite.gmail.com"><img class = "icon" src = "../assets/images/contact.png"/></a>
			<!-- Email: sihrcleewebsite@gmail.com -->
		</div>
	</div> <!-- Holder -->
	<div id = "projects">
		<a href="" onclick="return false" id = "footerbar">
			See My Projects!
		</a>
	</div>
	<div id = "projectcontent">
		<div class = 'single-project'>
			<h1 class = "title"> MyDish </h1>
			<hr class = "divider">
			<div class = "description">
				<p>
					Imagine a mother who is preparing dinner for her family. She opens the refrigerator and looks at the assortment of foods scattered across the shelves. &quot;What can I make for dinner?&quot; she wonders. Nothing catches her eye and she is having a hard time coming up with a creative meal that will be delicious and nutritious for her family. How much easier would it be if she could simply pull out her phone, open an application, and find inspiration by scrolling through a list of meals and recipes that she has found to be tried and true in the past?
				</p>
				<p>
					Over the course of this past semester, our team designed and developed a web application called myDish. The myDish app can be thought of as an individual digital cookbook where users are able to take pictures of the meals they cook, record their recipes and any notes they have on their dishes, and upload them to their own personal feed. This application will not only be a place to store recipes, it will also be a source of inspiration for our users who can open the application and scroll through the dishes they have previously made in order to brainstorm what they can cook for their next meal. Users can use the myDish application in many ways. Some will use it for inspiration while making meal plans in order to cook balanced meals, others will use it to share their exquisite meals with others in order to receive feedback and validation, and still others will use the app to keep track of a set of recipes that they enjoy making.
					<br>
					<iframe class = "project-logo" src='http://www.appsurfer.com/apps/42961-mydish/buttons/big_hz_v1' scrolling='no' frameborder='0' style='height:110px; width:320px;border:none;' data-domain='http://www.appsurfer.com'></iframe>
				</p>
				<p>
					<a href = "./hfid-website/index.html">See more about this project here</a><br>
					<a href = "mydish.herokuapp.com">WebApp</a> 	(Could be going down any second now)
				</p>
				
			</div>
  			

		</div>	
		<div class = 'single-project'>
			<hr class = "divider">
			<p align = "center">!! MORE UNDER CONSTRUCTION !!</p>
		</div>
		
	</div>

	<!-- CONTENT ENDS HERE -->

	<!-- LOAD JAVASCRIPT HERE -->
	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script language = "javascript" src = "../assets/js/main.js"></script>	
	<script type='text/javascript' src='http://www.appsurfer.com/surf.js'></script>
</body>
</html>



<!-- <hr class = "content-dividor">
	<div id = "project-scroll">
		<a href = "" onclick = "return false" class = "logo"><img src = "../assets/images/left.png" class = "arrow-buttons" id = "left-button"></a>
		<div id = "block-left" class = "block-remaining"></div>
		<a href = "" onclick = "return false" class = "logo"><img src = "../assets/images/example_logo.png" id = "logo1" class = "project-logo"></a>
		<a href = "" onclick = "return false" class = "logo"><img src = "../assets/images/example_logo.png" id = "logo2" class = "project-logo"></a>
		<a href = "" onclick = "return false" class = "logo"><img src = "../assets/images/example_logo.png" id = "logo3" class = "project-logo"></a>
		<a href = "" onclick = "return false" class = "logo"><img src = "../assets/images/example_logo.png" id = "logo4" class = "project-logo"></a>
		<div id = "block-right" class = "block-remaining"></div>
		<a href = "" onclick = "return false" class = "logo"><img src = "../assets/images/right.png" class = "arrow-buttons" id = "right-button"></a>
	</div>
	<hr class = "content-dividor"> --> <!-- Project Slider -->