<!DOCTYPE HTML "EN">
<html>
<head>
<title>Chris Lee</title>
<!-- CSS Files -->
<link rel = "stylesheet" href = "../assets/css/main.css" type = "text/css" media = "screen"/>
<link rel = "stylesheet" href = "../assets/css/theme.css" type = "text/css" media = "screen"/>

<!-- Google Fonts -->
<link href='http://fonts.googleapis.com/css?family=Raleway:100|Quicksand' rel='stylesheet' type='text/css'>
</head>

<body>

<!-- CONTENT STARTS HERE -->
<div id = "main">
	<h1 class = "name"> Chris Lee </h1>
	<div id = "dividor"></div>
<div id = "holder">
<!-- Social Media Connections -->
<div id = "connect">
	<a href = "https://www.facebook.com/clhereis"><img class = "icon" src = "../assets/images/facebook.jpg" alt = "Facebook"/></a><br>
	<a href = "https://github.com/sihrc"><img class = "icon" src = "../assets/images/github.jpg" alt = "Github"/></a><br>
	<a href = "https://plus.google.com/103759915727068716345/posts"><img class = "icon" src = "../assets/images/google.jpg" alt = "Google"/></a><br>
	<a href = "http://www.linkedin.com/pub/christopher-lee/76/136/a7b"><img class = "icon" src = "../assets/images/linked.jpg" alt = "LinkedIn"/></a>
</div>

<!-- Name and Profile Picture -->
<div id = "body">
	<img id = "profile" src = "../assets/images/profile.jpg"/>
</div>

<!-- Bio and Passion Statement -->
<div id = "bio">
	"Hi, I'm a  <br>
	<strong>Software Engineer </strong>,				<br>
	<strong>Project Manager </strong>,					<br>
	and <strong>Designer</strong>						<br>
	and my <strong>passion</strong> is 					<br>
	<strong>furthering technology</strong>				<br>
	to bring more 										<br>
	<strong>meaning</strong> and <strong>value</strong>	<br>
	to <strong>people.</strong>"						<br>
	<br>
	<a href = "../assets/content/ChrisLee_Resume.pdf"><img class = "icon" src = "../assets/images/resume.png"/></a>
	<a href = "mailto:sihrcleewebsite.gmail.com"><img class = "icon" src = "../assets/images/contact.png"/></a>
	<!-- Email: sihrcleewebsite@gmail.com -->
</div>
</div> <!-- Holder -->
<div id = "footerbar">
	Projects
</div>
</div> <!-- Main -->

<!-- CONTENT ENDS HERE -->

<!-- LOAD JAVASCRIPT HERE -->
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script language = "javascript" src = "../assets/js/theme.js"></script>
<script language = "javascript" src = "../assets/js/main.js"></script>	
</body>
</html>