<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Team Nutmeg</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- The styles -->
  <link href="../assets/css/bootstrap.css" rel="stylesheet">
  <link href="../assets/css/bootstrap-responsive.css" rel="stylesheet">
  <link href="../assets/css/formal-usability-study.css" rel="stylesheet">

  <link href="../assets/js/google-code-prettify/prettify.css" rel="stylesheet">

  <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
      <![endif]-->


</head>

<body data-spy="scroll" data-target=".bs-docs-sidebar">
  <div id="navbar"></div>
  <!-- HTML Starts Here -->
  <div class="jumbotron">
    <h2> Formal Usability Study </h2>
    <p> This page describes one formal usability study that our team will perform.  </p>
  </div>

  <div class="container">
    <div class="starter-template text-section">
      <h3>Determining the Value of the Notes Section on the 'Add Dish' page</h3>
      <p>Our team wants to test if the notes section on the add dish page of our app is useful for our users. We are unsure whether our users value the presence of the notes section and whether or not they find it helpful.  </p>
    </div>

    <div class="starter-template text-section">
      <h3>Hypothesis</h3>
      <p>The presence of the notes section will not enhance the user’s experience with the app. Regardless of whether or not there is a separate notes section, the users won't add notes to the notes section, or if they do, the notes they do add are not valuable to the user in the short or long term.  </p>
    </div>

    <div class="starter-template text-section">
      <h3>Experimental Conditions</h3>
      <p>The users are given the task of adding a meal to the app that they are accustomed to cooking. This meal should be familiar enough to the user that the user can recall the recipe from memory.</p>
      <p>We would ask the user to add a different meal to each of three designs of the app: </p>
      <ol>
        <li>The recipe text box is above the notes text box</li>
        <li>The notes text box is above the recipe text box</li>
        <li>There is only a recipe text box provided (there is no notes text box)</li>
      </ol>
      <p>The adding picture and the cancel/submission buttons on the add dish page will remain the same. Additionally, the appearance of the text entry boxes for the notes and recipe will remain the same. The only thing changing is the order and existence of the recipe and notes sections. </p>

      <br>

      <div class="three-options">
        <div class="single-option">
          <img src="../assets/images/formalusabilitystudy/recipe_first.png">
        </div>
        <div class="single-option">
          <img src="../assets/images/formalusabilitystudy/notes_first.png">
        </div>
        <div class="single-option">
          <img src="../assets/images/formalusabilitystudy/no_notes.png">
        </div>
      </div>

    </div>

    <div class="starter-template text-section">
      <h3>Dependent Variable</h3>
      <p>The order and presence of the recipe and notes inputs on the add dish page.  </p>
    </div>

    <div class="starter-template text-section">
      <h3>Pattern to expect</h3>
      <p>Users will either not type notes in the notes section or the notes they do type will not be meaningful. Additionally, when they are not provided with a notes section, they will not miss that functionality.</p>
    </div>

    <div class="starter-template text-section">
      <h3>Number of subjects</h3>
      <p>Ideally we would test at least ten subjects, each running two test iterations. For clarification, one iteration includes testing each of the three versions of the app described in the ‘Experimental Conditions’ section. We would want to run two test iterations because certain recipes may have meaningful notes to the user, while others may not. To gauge the consistency of the user’s behavior of the entry of notes for recipes, we would want to have two iterations of this test per user. </p>
    </div>

    <div class="starter-template text-section">
      <h3>Results</h3>

      <p>We completed our last usability tests, both the informal and formal usability testing, with two of our users Katherine and Denise (not their real names). Overall, our users were able to quickly figure out how to use our app, though Katherine had a little trouble figuring out how to add a new meal to the app initially. Once they had completely the task of adding a new meal, however, Katherine and Denise had no trouble editing and sharing meals. Denise described the app, saying “it’s cute, it’s simple, and I like your choices.” Katherine found the app to be intuitive, once she figured out how to add a dish. Katherine and Denise also were able to edit and share entries with ease, although we are unsure they would know that a sharing option existed unless we gave them the task to share one of the posts.</p>

      <p>Below is one example of an entry that Denise added during our formal usability test:</p>

      <div class="single-centered-option">
        <img src="../assets/images/deb_stirfry.png">
      </div>

      <p>For our formal usability testing, both Katherine and Denise noticed the change between the different application designs: the recipe section followed by the notes section, the notes section followed by the recipe section, and the recipe section and no notes section. Both users showed a preference for having the notes section and entered notes for each of the recipes that they put into the application and complained when the notes section was not present. If Katherine and Denise are representative of our user group, we would definitely include the notes section in our design. </p>

      <p>Comparing the app design with the recipe section followed by the notes section with the app design with the notes section followed by the recipe section, Katherine and Denise held opposing viewpoints. Katherine liked having the notes section before the recipe section because the notes were more important to her than the recipe section and she liked having her notes more visible than the recipe. Denise liked having the recipe section before the notes section saying, “it’s just the way my mind works”. If we were to conduct more studies, the ordering preferences of the notes and recipe sections of our users as a whole would be more clear. </p>

      <p>Given one more week of user tests, our team would like to make the following fixes:</p>
      <ul>
        <li>Allow the users to choose how they enter a recipe: either by text, looking a recipe up on the internet, or taking a picture</li>
        <li>Perform another formal usability test to see if separating the “Recipe” section into “Ingredients” and “Recipe”/“Instructions” would be helpful/preferable to our users based on feedback we received from Katherine</li>
        <li>Make the sharing feature larger/more apparent so it’s clearer to the users that they have the option to share the dish</li>
      </ul>
      <br><br>
    </div>

    
  </div>
<div id="loadJS"><!-- The javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../assets/js/insertNav.js"></script>
    <script src="../js/dropdown.js"></script>
    <!-- Unused
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    <script src="js/transition.js"></script>
    <script src="js/alert.js"></script>
    <script src="js/modal.js"></script>
    <script src="js/scrollspy.js"></script>
    <script src="js/tab.js"></script>
    <script src="js/tooltip.js"></script>
    <script src="js/popover.js"></script>
    <script src="js/button.js"></script>
    <script src="js/collapse.js"></script>
    <script src="js/carousel.js"></script>
    <script src="js/typeahead.js"></script>
    <script src="js/affix.js"></script>
    <script src="assets/js/holder/holder.js"></script>
    <script src="assets/js/google-code-prettify/prettify.js"></script>
    <script src="assets/js/application.js"></script>
    -->
</div>
<!-- The javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="../assets/js/jquery.js"></script>
<script src="../assets/js/loadJS.js"></script>





</body>
</html>