<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Team Nutmeg</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- The styles -->
  <link href="../assets/css/index.css" rel="stylesheet">
  <link href="../assets/css/bootstrap.css" rel="stylesheet">
  <link href="../assets/css/bootstrap-responsive.css" rel="stylesheet">

  <link href="../assets/js/google-code-prettify/prettify.css" rel="stylesheet">

  <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
      <![endif]-->

</head>

<body data-spy="scroll" data-target=".bs-docs-sidebar">
  <div id="navbar"></div>
  <!-- HTML Starts Here -->
  <div class="jumbotron">
    <h2> MyDish </h2>
    <p> Your personal hand-held cookbook - <i>imperishable, accessible, and portable.</i></p>
  </div>
  <div class="container">
    <div id = "sidebar">
      <img id = "appImage" src = "../assets/images/myDish.png"></img>
    </div>
    <div id = "right_content">
      <h2>The MyDish App </h2>
      <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Imagine a mother who is preparing dinner for her family. She opens the refrigerator and looks at the assortment of foods scattered across the shelves. “What can I make for dinner?” she wonders. Nothing catches her eye and she is having a hard time coming up with a creative meal that will be delicious and nutritious for her family. How much easier would it be if she could simply pull out her phone, open an application, and find inspiration by scrolling through a list of meals and recipes that she has found to be tried and true in the past?
      </p>
      <p>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Over the course of this past semester, our team designed and developed a web application called myDish. The myDish app can be thought of as an individual digital cookbook where users are able to take pictures of the meals they cook, record their recipes and any notes they have on their dishes, and upload them to their own personal feed. This application will not only be a place to store recipes, it will also be a source of inspiration for our users who can open the application and scroll through the dishes they’ve previously made in order to brainstorm what they can cook for their next meal. Users can use the myDish application in many ways. Some will use it for inspiration while making meal plans in order to cook balanced meals, others will use it to share their exquisite meals with others in order to receive feedback and validation, and still others will use the app to keep track of a set of recipes that they enjoy making.
      </p>

      <p>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Check out our <a href="http://mydish.herokuapp.com">myDish app here</a>! </p>
    </div>
  <br><br>
  </div>

<div id="loadJS"></div>
<!-- The javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="../assets/js/jquery.js"></script>
<script src="../assets/js/loadJS.js"></script>

</body>
</html>
