<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Team Nutmeg</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- The styles -->
  <link href="../assets/css/bootstrap.css" rel="stylesheet">
  <link href="../assets/css/bootstrap-responsive.css" rel="stylesheet">

  <link href="../assets/js/google-code-prettify/prettify.css" rel="stylesheet">

  <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
      <![endif]-->


</head>

<body data-spy="scroll" data-target=".bs-docs-sidebar">
  <div id = "navbar"></div>
  <!-- HTML Starts Here -->
  <div class = "jumbotron">
    <h2> Inspirational Designs</h2>
    <p> This is an exploration of interface designs that are inspirational for our project. </p>
  </div>

     <div class="container">

      <div class="starter-template">
        <h3>Popular Applications</h3>
        <p>by Lisa<br><br>There is a reason why popular apps are popular. For their specific use, they have an interface that users can use on their phone with ease, while at the same time, giving them the content they want. Despite that our set of users are an older group and less tech savvy, we found many of them use these popular apps, either because they are very very simple to use (just a simple scroll bar with updates ex. Twitter), or the app provides a useful enough product that they teach themselves to use it (ex. GoogleMaps). 
        <br><br>
        This group noted difficulties in learning to use new apps, which prevents them from using them. However they are willing to learn to use an apps if it is similar enough to an interface they already use. By basing our project on these apps, our users are more likely to use them.
        <br><br>
        Lets look at the Facebook app. The primary goal of Facebook is to share and comment on statuses. This includes in particular seeing other people's statuses and inputting your own status. The first thing that pops up on the Facebook app is a long list of statuses, each with a picture, a status, and like/dislike/comment buttons. To view all the statuses, all we have to do is scroll down. To comment, like, dislike, the users simply click the buttons (a similar interface to facebook's website). The picture puts an image to the name, which is both visually appealing and makes things more interesting (rather than seeing a wall of text). This interface would be useful for any sort of list (like a grocery shopping list or recipe lists). The pictures would be the picture of the food/ingredient, and the statuses may have the ingredients list, description, store to buy from etc.
          <br><div align = "center"><img width = "75%" height = "auto" src = "../assets/images/facebook_app.jpg"></img><br><a href = "http://technmarketing.wordpress.com/page/3/">TechNMarketing</a></div><br>
        Another interesting aspect is that blue text items are linked items. This is consistent with the rest of the app/facebook website. Though a long time user would find this obvious, for the non-user, it isn't always intuitive (there are many other websites where different color text indicates an advertisement instead). I think linked items should look like pressable buttons. Lastly the "Link tree" may be too complicated for older users to use, so our project should limit the number of branches in the interface.</p>
      </div>
      <br><br>
      <div class="starter-template">
        <h3>Grocery IQ</h3>
        <p>by Chris<br><br>
        Grocery IQ is an app that facilitates creating and using grocery lists. The features that Grocery IQ offers include: selecting foods from different stores, categorizing foods into store and food group, adding recipes to a schedule, and adding and sharing grocery lists. Both a webApp and mobileApp, there are inspirational design techniques in Grocery IQ’s  interface.
        <br><div align = "center"><img src = "../assets/images/groceryIQ.png"></img><br><a href = "http://cdn.cpnscdn.com/static/groceryiq.com/App_Themes/Default/_images/pp_ipad_coupongallery.png">GroceryIQ</a></div><br>

        Though this app does not take an inventory of existing food, it does handle the grocery list very well. The grocery list shows different items within different food groups with the prices, coupons available, and amount saved listed in a well-organized compact button listing. There’s also an arrow that when pressed reveals more details including an image of the time. The grocery list also tallies up the total price and total amount saved on the list of items. 
        <br><br>
        In terms of customization, it remembers frequently bought items as well as items manually added to the favorites list for easy future access. Many of our users were also bargain shoppers, and Grocery IQ includes a “recommended deals and coupons” listing on the left hand panel for a range of stores (chosen by the user). 
        <br><br>
        There is an identical, easy to interpret navigation bar on the bottom of each screen that leads to lists, favorites, and stores - each labeled with text and an image. There’s also an inherent transferability of items from one screen to another. By selecting on an item under a store screen, the item appears in the current list.</p>
      </div>
      <br><br>
      <div class="starter-template">
        <h3>Movie Collection & Inventory Android App</h3>
        <p>by Sarah<br><br>
        <br><div align = "center"><img width = "30%" height = "auto" src = "../assets/images/moviecollection1.png"></img>
        <img width = "30%" height = "auto" src = "../assets/images/moviecollection2.png"></img>
        <img width = "30%" height = "auto" src = "../assets/images/moviecollection2.png"></img>
        <br><a href = "http://www.apktrain.com/applications/3569/download-Movie-Collection-and-Inventory--app-apk/">APK Train</a></div><br>
        The Movie Collection & Inventory app manages a movie profile where users can manage a database of movies that they own. For each movie entered in their collection, the user can rate the movie, denote how many times they’ve seen it, categorize it by genre, and make any additional notes about the movie. There are also additional features like the ‘Wish List’, importing/exporting the users’ movie collection, and movie statistics to explore. Because our team is potentially looking for ways to make a kitchen inventory, this app is interesting to explore. 
        <br><br>
        One of the features that I tried out was the barcode scanner for the movies, which turned out to be extremely cool: it was quick, efficient, and loaded much more data into the phone than I could have input in a solid 60 seconds. This could prove to be useful, knowing that food with barcodes work the exact same way. Lowering the time spent maintaining an inventory system is a focus our team currently has, and barcode scanning (compared with manual entry) reduces the time adding items to the inventory. But, is that enough? Are people willing to scan all of their scannable items after they get home from the grocery store? And will they update the inventory when that item has run out? 
        <br><br>
        One of the things I didn’t like about adding a movie to the collection was that there were WAY too many fields that were optional information and made adding an item seem less efficient. Additionally, I would have liked to see the page organized a bit better to have a larger photo icon for the item and a flow that would have directed the user to put in at minimum the most necessary information for adding the item. One more critique is that in order to search the database of movies, if I wanted to search with a filter of the “Romantic” genre, I would need to go to the “Tools” page and select “By Category/Format” in order to perform my desired search. It would make much more sense to have a filtered search option in the “Search” page. These critiques reinforce my opinions that if we make an app, it should be clean, functional and clear to the user what they should be doing. 
        <br><br>
        Of the people that review the app, it had the following breakdown:
        <br><br>
        <table border = "2px" cellpadding="10px" align = "center" width = "80%" height = "30px">
          <tr>
        <td align = "center">✮</td>
        <td align = "center">✮✮</td>
        <td align = "center">✮✮✮</td>
        <td align = "center">✮✮✮✮</td>
        <td align = "center">✮✮✮✮✮</td>
      </tr><tr><tr></tr>
        <td align = "center">211</td>
        <td align = "center">99</td>
        <td align = "center">277</td>
        <td align = "center">646</td>
        <td align = "center">942</td></tr></table>
        <br>
        So from this, we can see that the user satisfaction seemed to be pretty high. But then again, this sample size is bias by self-selection. There have been 100,000-500,000 downloads of this app, has a ‘Low Maturity’ content rating, and has received 2,125 +1 (Google Plus). So, it seems like this app is serving some people well, but isn’t widely used by a large population of users, from it’s number of downloads and appearance.  
        <br><br>
        From the examination of the Movie Collection & Inventory app, I think that the focus of any inventory system should be simplification of the entry process, since that’s the largest time sink for the user. And the upkeep of the system should also be streamlined and simple. This will be our largest challenge, should we decide to implement an inventory system. 
        </p>  
      </div>
      <br><br>
      <div class="starter-template">
        <h3>Physical Notepads with Grocery Lists</h3>
        <p>by Ari<br><br>
 
        
        During our user visits, we found that people often used the old-fashioned pen and paper method to keep track of their grocery lists. There are notepads created specifically for grocery lists; they list different categories like fruits, vegetables, dairy, etc. and pre-populate those categories with common items like apples, lettuce and milk, adding lines at the bottom of each category for the user to write in their own items. People like to use these pre-made grocery lists because they are organized, easy to visualize and cheap.
        <br><div align = "center"><img src="http://stayfreckly.files.wordpress.com/2013/03/grocery-list.jpg" height="600"><br><a href = "http://stayfreckly.files.wordpress.com/2013/03/grocery-list.jpg" height="600"> StayFreckly</a></div><br>
        As we move towards creating an application that could potentially replace these physical paper lists, we want to retain the ease of use and simplicity of these notepad grocery lists. Among other features that we want to emulate, in order to help our users stay organized we can provide them with categories that reflect the different food groups they will encounter at the grocery store. In that way, they can quickly find items in a systematic manner at the grocery store, and they will also know exactly where to list an item when they run out of it at home.
        <br><br>
        One downside of the pre-populated grocery list is that, in some instances, users will not need the items that are pre-listed. For example, if everyone in my family is allergic to a certain food item under the fruits list, then it is a waste of space to have that item with an empty checkbox next to it on every single grocery list. When we create our application, we can pre-populate grocery lists based on data from the user’s previous grocery lists, so that we offer up suggestions for things they use often instead of displaying invalid information.<br>
        </p>
      </div>

    </div>

 
  <div id = "loadJS"></div>
  <!-- The javascript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="../assets/js/jquery.js"></script>
  <script src="../assets/js/loadJS.js"></script>

  </body>
</html>
