<h1> Project Nutmeg </h1>

<nav class = "navbar navbar-default" role="navigation">
  <div class = "navbar-header">
    <button type = "button" class = "navbar-toggle" data-toggle = "collapse" data-target = ".navbar-ex1-collapse">
      <span class = "sr-only">Toggle navigation </span>
      <span class = "icon-bar"></span>
      <span class = "icon-bar"></span>
      <span class = "icon-bar"></span>
    </button>
    <a class = "navbar-brand" href = "../index.html">Home</a>
  </div>
  <ul class = "nav navbar-nav">

    <li id = "team_page"><a href = "team.html">Team</a>

      <li class = "dropdown">
        <a id = "project" href = "#" class = "dropdown-toggle" data-toggle = "dropdown">Project <span class = "caret"></span></a>
        <ul class = "dropdown-menu" aria-labelledby="project">
          <li class = "dropdown-header">General Info</li>
          
          <li><a href = "projectbrief.html">Project Brief</a></li>
          <li><a href = "needsanalysis.html">Needs Analysis</a></li>
          <li><a href = "workdistribution.html">Work Distribution </a></li>
          
          <li class="divider"></li><li class = "dropdown-header">Phase I: Exploration</li>

          <li><a href = "inspiredesigns.html">Inspirational Designs</a></li>
          <li><a href = "uservisits.html">User Visits</a></li>
          <li><a href = "personas.html">Personas</a></li>
          
          <li class="divider"></li><li class = "dropdown-header">Phase II: Development</li>
          <li><a href = "storyboard.html">Storyboard</a></li>
          <li><a href = "paperprototypes.html">Paper Prototypes</a></li>
          <li><a href = "designdev.html">Design Development</a></li>
          <li><a href = "wireframe_sitemap.html">Site Map and Wireframes</a></li>
          <li class="divider"></li><li class = "dropdown-header">Phase III: Final Prototyping</li>
          <li><a href = "prototypefreeze.html">Prototype Freeze</a></li>
          <li><a href = "designrefinement.html">Design Refinement</a></li>
          <li><a href = "refinementpresentation.html">Refinement Presentation</a></li>
          <li><a href = "formalusabilitystudy.html">Formal Usability Study</a></li>
          <li><a href = "heuristicevaluationresponse.html">Heuristic Evaluation Response</a></li>
          <li><a href = "finalrefinement.html">Final Design Refinement</a></li>
        </ul>
      </li>

    </ul>
  </div>
</nav>
</ul>