<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Team Nutmeg</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- The styles -->
  <link href="../assets/css/bootstrap.css" rel="stylesheet">
  <link href="../assets/css/bootstrap-responsive.css" rel="stylesheet">
  <link href="../assets/css/needs-analysis.css" rel="stylesheet">

  <link href="../assets/js/google-code-prettify/prettify.css" rel="stylesheet">

  <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
      <![endif]-->


</head>

<body data-spy="scroll" data-target=".bs-docs-sidebar">
  <div id = "navbar"></div>
  <!-- HTML Starts Here -->
  <div class = "jumbotron">
    <h2>Needs Analysis</h2>
    <p>This is where we synthesize and define our project based on the needs and values of our users.</p>
  </div>

  <div class="container">
    <div class="starter-template text-section">
        <div class="intro-text">
          Helen is a busy mother of two who depends on grocery lists and meal planning to get her through each week.
        </div>
        <div class="intro-text">
          Elsa loves to entertain and cook for her large family and wide circle of friends, and is always searching for new recipes and ingredients to try.
        </div>
        <div class="intro-text">
          Carol and Corwin work as a team to prepare interesting and nutritious meals for their young children while still finding the time to spend together as a family.
        </div>
        <div class="intro-text">
          Shawn wants to make sure his pregnant wife can eat a wide variety of meals, but he is often low on time and money as he searches for good deals at the grocery store.
        </div>
    </div>
    <div class="starter-template text-section">
      <h3>Defined Objective</h3>
        All the personas mentioned above share the same need for efficiency and organization, and most of them currently use physical lists for grocery shopping. Although currently existing systems suffice for the personas’ immediate needs, by creating a simpler and easier to implement grocery list interface for their refrigerators and smartphones, we will allow our users to save time getting the supplies they need to get started on their kitchen routine. 
    </div>
    <div class="starter-template text-section">
      <h3>Going Grocery Shopping: Task Analysis</h3>
      Currently, the process for an average user to go grocery shopping can be condensed into the following hierarchical task analysis. Our goal is to find a way to optimize and speed up the process of creating a grocery list and going shopping. We also take into consideration unique habits that different people have; some will choose to keep a mental grocery list and grab what they need at the store, while others will search for recipes and plan their meals well in advance before going shopping.
      <div class="hta">
        <img src="../assets/images/hta.PNG">
      </div>
    </div>
    <div class="starter-template text-section">
      <h3>From Users to Personas: Who to Design for</h3>
      Based on our user visits, we decided to design for the lead chef and main grocery shopper within a upper middle class suburban household. We compiled our observations into one big synthesis poster.
      <div class="synthesis-poster">
        <img src="../assets/images/synthesis_poster.jpg">
      </div>
      By grouping our observations into themes, we were able to discover a big picture of what our user group looks like overall. We crafted the following four personas, whose stories were highlighted above, to represent the values and needs of our target users and design for them. <a href = "personas.html"> See our personas in-depth!</a>
      <div id = "fromPersonas"></id>
      <div class="personas"><div id = "helen"></div>
        <div class = "panel panel-primary">
          <div class = "panel-heading"><h3 class = "panel-title">Hardworking Helen</h3></div>
          <div class = "panel-body">
            <div class="persona-img">
              <img src="../assets/images/helen.png">
            </div>
            <div class="persona-content"><h5>
                <strong>Values</strong>: efficiency, success, career<br><br>
              <strong>Needs</strong>: control, always doing good, saving time
            </h5><br><h5><a href = "personas.html#persona_helen">Find description here.</a></h5></div>
          </div>
        </div>
      </div>
      <div class="personas"><div id = "shawn"></div>
        <div class = "panel panel-primary">
          <div class = "panel-heading"><h3 class = "panel-title">Spontaneous Shawn</h3></div>
          <div class = "panel-body">
            <div class="persona-img">
              <img src="../assets/images/shawn.png">
            </div>
            <div class="persona-content"><h5>
                <strong>Values</strong>: creativity, saving time and money, a happy wife<br><br>
              <strong>Needs</strong>: innovative recipes, bargain exotic ingredients, low time and money cost
            </h5><br><h5><a href = "personas.html#persona_shawn">Find description here.</a></h5></div>
          </div>
        </div>
      </div>
      <div class="personas"><div id = "elsa"></div>
        <div class = "panel panel-primary">
          <div class = "panel-heading"><h3 class = "panel-title">Extrovert Elsa</h3></div>
          <div class = "panel-body">
            <div class="persona-img">
              <img src="../assets/images/elsa.png">
            </div>
            <div class="persona-content"><h5>
                <strong>Values</strong>: socializing and entertaining, cooking as a hobby, comfort and ease<br><br>
              <strong>Needs</strong>: easy access to groceries, recognition and social status, new recipes
            </h5><br><h5><a href = "personas.html#persona_elsa">Find description here.</a></h5></div>
          </div>
        </div>
      </div>
      <div class="personas"><div id = "couple"></div>
        <div class = "panel panel-primary">
          <div class = "panel-heading"><h3 class = "panel-title">Cooking Couple Carol & Corwin</h3></div>
          <div class = "panel-body">
            <div class="persona-img">
              <img src="../assets/images/couple.png">
            </div>
            <div class="persona-content"><h5>
                <strong>Values</strong>: kids, time, doing things together<br><br>
              <strong>Needs</strong>: minimize time, organization, balanced diet
            </h5><br><h5><a href = "personas.html#persona_couple">Find description here.</a></h5></div>
          </div>
        </div>
      </div>
    </div>
    <div class="starter-template text-section">
      <h3>Targeted Design</h3>
      <blockquote><i>
      To afford good targeted design, we must take our personas’ needs and values into consideration when pinpointing the requirements for our solution.</i></blockquote>
      <h4>The Shopping/Cooking “System”</h4>
      While comparing the conversations we had with different users, we discovered that the users we interviewed each had their own complex system of grocery shopping and cooking meals, a system which was optimized for efficiency, personal preference, and the demands of each of their families. Several users have grown accustomed to their grocery shopping and meal cooking system, having extensively developed it previously to suit their needs. Even though their system may not be the most efficient, because they are so accustomed to their routine, developing and introducing an interface to this group could be an invasion of their personal space. Therefore, it is important to provide our users not with a new system, but a tool that they can integrate into their own systems; we do not want to impose upon them a new method that will make things harder for them, but rather a helpful aid that they can use at their choosing. 
      <br><br>
      Our users are willing to change provided a better tool, but only if they feel it is worth the time and effort to switch. We would like to design a grocery list app to enable them to complete their routine tasks more efficiently with a similar but improved system, with an easy enough interface that the user does not feel overwhelmed by it.
      <br><br>
      Again, considering the current equilibrium between user and system, our innovated design must complement, rather than conflict with, the existing system surrounding cooking and shopping. For example, our personas value saving time and money, so the solution must have a quick initial learning curve and work right out of the package with little upfront effort. Likewise, the process of adding and accessing items to the grocery list must not take more time or effort than on a simple, paper grocery list. Similarly, any additional features must not change the usual cooking or shopping habits and techniques; rather, they should only further simplify the processes. For instance, some personas expressed a need for the capability of sharing the grocery list among family members, and our implementation of this features must adhere to existing methods.
      <br><br>
      <h4>Technical Aptitude</h4>
      An important observation about our users is their technical aptitude. Many of our users are proficient with using basic applications on smart phones, but they will still need some time to get used to a brand new interface that differs in functionality from the apps they already use.  If the amount of time they need to put into learning how to use the application to make it useful for them exceeds the amount of help they will receive and time they will save in the long run, they will not be willing to incorporate our application into their daily routine.
      <br><br>
      To address the visual and physical of our design solution given the intermediate level of technological expertise among our personas, the user interface we implement must be not only simple but also sensible. A visually scarce interface with little natural indication of function to interface mapping is just as awful a design as a cluttered interface with a visual object clearly mapped to each function. Especially considering the presence of an already working system that our personas have (a physical grocery list), our solution must reflect the current status quo between user and system without deteriorating the user’s self-esteem with too much complex, front-end functionality.
    </div>
    <div class="starter-template text-section">
      <h3>Impact</h3>
      With our application, Helen will save time in creating her grocery lists, giving her the opportunity to plan better meals and attend to her other obligations. Elsa will be able to use her list to think of more creative recipes to try as she browses the aisles at the grocery store. Carol and Corwin will be able to maximize their team efforts by collaborating on their grocery list and communicating better about what they need to purchase. Shawn will be a smarter shopper as he stretches out his money to buy the best ingredients for his wife.
      <br><br>
      Our goal is to make the process of cooking and going grocery shopping easier and more fun for our users. If our solution is successful, it will change the way our user interacts with their kitchen: preparing food will be more enjoyable, less problems will arise in the compilation of the grocery list and the acquisition of ingredients, and they will be able to save time, money and effort.
    </div>
  </div>

<div id = "loadJS"></div>
<!-- The javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="../assets/js/jquery.js"></script>
<script src="../assets/js/loadJS.js"></script>

</body>
</html>
