 <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Team Nutmeg</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- The styles -->
  <link href="../assets/css/bootstrap.css" rel="stylesheet">
  <link href="../assets/css/bootstrap-responsive.css" rel="stylesheet">

  <link href="../assets/js/google-code-prettify/prettify.css" rel="stylesheet">

  <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
      <![endif]-->
</head>

<body data-spy="scroll" data-target=".bs-docs-sidebar">
  <div id = "navbar"></div>
  <!-- HTML Starts Here -->
  <div class = "jumbotron">
    <h2> Project Brief</h2>
    <p> This is where we initially outline our project. </p>
  </div>

  <div class = "container">
    <div class = "span4 offset2">
      <div class = "panel panel-primary">
        <div class = "panel-heading"><h3 class = "panel-title">Problem</h3></div>
        <div class = "panel-body">Food is a big part of everyone’s day. Whether you’re a parent who needs to cook for the family or a kid hungry for dinner, everyone wonders what there is to eat in the kitchen as it gets closer to meal/snack time. However, you may not always remember what you have in your kitchen, and while sometimes it’s easy to go and look, it can be significantly harder if you’re in the grocery store deciding whether or not you need to buy a specific item. Is there an easier way to answer the question, “What is there to eat at home?”</div>
      </div>
      <div class = "panel panel-primary">
        <div class = "panel-heading"><h3 class = "panel-title">Proposed Solution</h3></div>
        <div class = "panel-body">
          We want to create a way for people to easily see what they have in their kitchen, regardless of where they are. In this way, they can plan meals, grab a snack, or know what to add to their grocery list. We plan on having two distinct applications: one for the kitchen and one as a mobile app for people accessing information about the kitchen.
        </div>
      </div>
      <div class = "panel panel-info">
        <div class = "panel-heading"><h3 class = "panel-title">Learning Objectives</h3></div>
        <div class = "panel-body">
          Because our team has significant programming experience, we would like to spend our time in this class focusing on the design of our product and not just how to build it. Our goal is to find a good design, and not get caught up in the programmer’s mindset. In order to keep our focus on design, we will worry less about the implementation and spend more time on the interface of our product; this means spending more time thinking about our users and how to make our application better and more intuitive for them, and less time thinking about code.</div>
        </div>
      </div>
      <div class = "panel panel-info">
        <div class = "panel-heading"><h3 class = "panel-title">Information to Collect</h3></div>
        <div class = "panel-body">
          Our goal is to talk to local community members who live with their families and are often in charge of grocery shopping and cooking meals. We can talk to families who live in Needham. We want to know how they keep track of what foods they have in their kitchen, and whether they face any challenges that could be fixed using an application or tracker of some sort. Learning how they make their shopping lists will also help us get a better idea for how they manage their food.
          Talking to our potential users will also help us scope the project to know which additional features, if any, they would find useful. Such features include: <BR></BR>
          <ul>
            <li>Tracking food expiration</li>
            <li>Tracking Food Quantity</li>
            <li>Food search</li>
            <li>Handling foods not in the catalog</li>
            <li>Receipt reader to take inventory</li>
            <li>Recipe builder (based on the available foods)</li>
            <li>Grocery List builder (recipe needs and staples)</li>
          </ul>
        </div>
      </div>
      <div class = "panel panel-success">
        <div class = "panel-heading"><h3 class = "panel-title">Rough Sketch</h3></div>
        <div class = "panel-body">
          Rough Sketch: In order to address the inherent ubiquity of our solution, we will need at least two interfaces: one located locally at home and one that can be taken to the grocery store/elsewhere.<BR></BR>
          <ul>
            <li> The interface at home will have a way to check in / check out food items.</li>
            <li>The interface on the phone will allow the users to simply scroll through and see what items are in their kitchen.</li>
          </ul>
          <div align = "center"><img src = "../assets/images/projectbrief_roughsketch.jpg"></img></div>
        </div>
      </div>
    </div>



<!-- The javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<div id = "loadJS"></div>
<script src="../assets/js/jquery.js"></script>
<script src="../assets/js/loadJS.js"></script>

</body>
</html>
