<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Team Nutmeg</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- The styles -->
  <link href="../assets/css/bootstrap.css" rel="stylesheet">
  <link href="../assets/css/bootstrap-responsive.css" rel="stylesheet">

  <link href="../assets/js/google-code-prettify/prettify.css" rel="stylesheet">

  <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
      <![endif]-->


</head>

<body data-spy="scroll" data-target=".bs-docs-sidebar">
  <div id="navbar"></div>
  <!-- HTML Starts Here -->
  <div class="jumbotron">
    <h2> Prototype Freeze </h2>
    <p> This page gives a link to our team's functional prototype for our myDish app as well as instrucitons for use.  </p>
  </div>

  <div class="container">
    <div class="starter-template text-section">
      <h3>What is myDish?</h3>
      <p>myDish is an application that acts as your own personal cookbook. As you add more meals to your myDish app, you may find that this app serves as inspiration for future dishes, a great way to share what’s been brewing in your kitchen with your friends, and a great way to keep all of those great recipes you have in one place. This app is designed for mobile phone use. </p>
    </div>

    <div class="starter-template text-section">
      <h3><a href="http://mydish.herokuapp.com">Link to the myDish app</a></h3>
    </div>

    <div class="starter-template text-section">
      <h3>Task 1: Add a Meal</h3>
      <p><b>Scenario: </b> You have just finished making a delicious dish for you and your significant other and are very proud of your results. You want to add this meal to your myDish app so that you can remember the recipe. </p>
      <p><b>Inputs/assumptions: </b>
          <ul>
            <li>You have cooked a meal that you want to add to the app</li>
            <li>You have a smartphone with a camera and the myDish app already installed</li>
          </ul>
      </p>
      <p><b>Goal: </b> Add your meal to your myDish app.</p>
      <p><b>Prototype Limitations: </b> The camera doesn’t actually work because your laptop is not a smartphone.</p>
    </div>

    <div class="starter-template text-section">
      <h3>Task 2: Editing a Meal</h3>
      <p><b>Scenario: </b> You have already put in a recipe for a meal into your myDish app. However, you were just talking to a friend and they suggested adding chopped grapes to add more flavor. You think this is a good idea and want to add it to your notes.
</p>
      <p><b>Inputs/assumptions: </b>
          <ul>
            <li>You have the myDish app installed on your smartphone with the meal recipe already added</li>
          </ul>
      </p>
      <p><b>Goal: </b> Edit the notes for the recipe to remember your friend’s tip.</p>
      <p><b>Prototype Limitations: </b> The camera doesn’t actually work because your laptop is not a smartphone.</p>
    </div>

    <div class="starter-template text-section">
      <h3>Task 3: Sharing a Meal</h3>
      <p><b>Scenario: </b> Your mother just called and she is dying to know the recipe for that meal you cooked for the dinner party the other night. You want to send her the recipe so she can stop calling you for it while you’re at work.
</p>
      <p><b>Inputs/assumptions: </b>
          <ul>
            <li>You have the recipe stored in your myDish app</li>
            <li>You and your mother both use email</li>
          </ul>
      </p>
      <p><b>Goal: </b> Email your mother the recipe for the meal you cooked as well as any notes on it. </p>
      <p><b>Prototype Limitations: </b> The functionality of populating an email with the meal information is assumed to work (we did not implement this).</p>
    </div>
  </div>
<div id="loadJS"><!-- The javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../assets/js/insertNav.js"></script>
    <script src="../js/dropdown.js"></script>
    <!-- Unused
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    <script src="js/transition.js"></script>
    <script src="js/alert.js"></script>
    <script src="js/modal.js"></script>
    <script src="js/scrollspy.js"></script>
    <script src="js/tab.js"></script>
    <script src="js/tooltip.js"></script>
    <script src="js/popover.js"></script>
    <script src="js/button.js"></script>
    <script src="js/collapse.js"></script>
    <script src="js/carousel.js"></script>
    <script src="js/typeahead.js"></script>
    <script src="js/affix.js"></script>
    <script src="assets/js/holder/holder.js"></script>
    <script src="assets/js/google-code-prettify/prettify.js"></script>
    <script src="assets/js/application.js"></script>
    -->
</div>
<!-- The javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="../assets/js/jquery.js"></script>
<script src="../assets/js/loadJS.js"></script>





</body>
</html>