<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Team Nutmeg</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- The styles -->
  <link href="../assets/css/bootstrap.css" rel="stylesheet">
  <link href="../assets/css/bootstrap-responsive.css" rel="stylesheet">

  <link href="../assets/js/google-code-prettify/prettify.css" rel="stylesheet">

  <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
      <![endif]-->


</head>

<body data-spy="scroll" data-target=".bs-docs-sidebar">
  <div id = "navbar"></div>
  <!-- HTML Starts Here -->
  <div class = "jumbotron">
    <h2> Storyboard</h2>
    <p> These are diagrams of three major interactions for our application.</p>
    <a href = "#application">Application Screens</a><br>
    <a href = "#interactions">Interactions</a>

  </div>

  <div class = "container">
    <h1>Our Application (Rough Idea)</h1>
    On a base level, our team has come to a consensus on an idea for our application. We have decided to make an app that allows our users to take pictures of meals that they have made in order to provide them with a record of meal they’ve made, future inspiration for meals, and the ability to share their excellent meals with their friends. We see our idea as a food-Instagram, with the focus of meals specifically. We want to explore the ability to write notes and recipes on the ‘back’ of each meal picture, the opportunity to rate meals, and any additional features we think could bring value to our users.  
    <div class = "span8">
      <div id = "application"></div>
      <h1> Application Screens </h1><br>
      <img src = "../assets/images/sketch_screen1.fw.png"></img>
      <img src = "../assets/images/sketch_screen2.fw.png"></img>
      <img src = "../assets/images/sketch_screen3.fw.png"></img><br><br>
      <hr height="10px">
      <div id = "interactions">
      <h1> Interaction: Taking pictures of recipes and meals </h1></div>
      <img src = "../assets/images/storyboard_takepic.png"></img><br>
      <h1> Interaction: Looking for past recipes and meals</h1><br>
      <img src = "../assets/images/storyboard_ideasearch.png"></img><br>
      <h1> Interaction: Sharing pictures with others </h1><br>
      <img src = "../assets/images/storyboard_sharepic.png"></img><br>
    </div>
  </div>

<div id = "loadJS"></div>
<!-- The javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="../assets/js/jquery.js"></script>
<script src="../assets/js/loadJS.js"></script>

</body>
</html>
