<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Team Nutmeg</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- The styles -->
    <link href="../assets/css/bootstrap.css" rel="stylesheet">
    <link href="../assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="../assets/css/team.css" rel="stylesheet">

    <link href="../assets/js/google-code-prettify/prettify.css" rel="stylesheet">

    <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
    <![endif]-->


  </head>

<body data-spy="scroll" data-target=".bs-docs-sidebar">
  <div id="navbar"></div>

<!-- HTML Starts Here -->

 <div class = "jumbotron">
    <h2> Team Nutmeg</h2>
    <p> Meet the team!</p>
</div>

<div class = "container">
  <div class = "span4 offset2">
    <div class = "well team-member">
      <div class = "team-member-img">
        <img src = "../assets/images/ari.png">
      </div>
      <div class = "team-member-info">
        <h1>Ariana Chae</h1>
        Ariana Chae is a junior majoring in engineering with a concentration in computing. She has a special interest in education, and has experience interning in the ed-tech space as well as performing research on educational change processes. Having traveled all of 2.5 miles from home to attend Olin College, Ariana is unique in that she has attended preschool, elementary, middle and high school, and now college all in the same town. With a cup of coffee in one hand and her cell phone in the other, she likes to stay busy and connected. Ariana is excited to explore the intersection between computing and design with her HFID team over the course of the semester.
      </div>
    </div>
    <div class = "well team-member">
      <div class = "team-member-img">
        <img src = "../assets/images/chris.png">
      </div>
      <div class = "team-member-info">
        <h1>Chris Lee</h1>
        Chris Lee is a junior (class of 2015), pursuing a degree in engineering with a concentration in computing. From all the way in southern California, Chris treasures the community at Olin College and values the the time he has to spend growing as an engineer among peers. Though he has only recently declared as E:Computing, he particularly enjoys coding in his free time and wishes to expand his skill set. Nothing sounds better to Chris than sitting under a tree on a nice, sunny morning, sipping some hot coffee, and coding. During the course of this project, Chris aims to thoroughly investigate the process of designing an eye-catching, intuitive, and meaningful user interface.
      </div>
    </div>
    <div class = "well team-member">
      <div class = "team-member-img">
        <img src="http://m.c.lnkd.licdn.com/media/p/4/000/131/058/383d8e4.jpg">
      </div>
      <div class = "team-member-info">
        <h1>Lisa Park</h1>
        Lisa Park is a senior pursuing the Electrical and Computer Engineering major, focusing on software. Although she is not a bioengineer, she aims to apply her skills in the biomedical engineering field, and is in fact a rare premedical student at Olin College of Engineering. From her research experience working with frustrating 3D modeling programs at Children's Hospital of LA, she became interested in designing better biomedical programs with intuitive user interfaces. Lisa hails from southern California, bringing with her her Korean culture and love of Asian food. Much of Lisa's free time is spent doing arts and crafts, archery, and reading. 
      </div>
    </div>
    <div class = "well team-member">
      <div class = "team-member-img">
        <img src = "../assets/images/sarah.png">
      </div>
      <div class = "team-member-info">
        <h1>Sarah Strohkorb</h1>
        Sarah Strohkorb is a Senior Electrical and Computer Engineering major with a particular interest in software development.  She currently lives in Kansas City, Kansas; although she has also resided in Saudi Arabia and Colorado. She just returned from a semester abroad in the United Arab Emirates, where she enjoyed henna, her Emirate friends, and (very importantly) the food.  Sarah enjoys belly dancing, running, and drinking tea in her spare time and is also very involved with her church and the Christian group on campus. She is excited to be taking HFID this semester and learning how to better design user interfaces!
      </div>
    </div>
  </div>
</div>

<div id = "loadJS"></div>
<!-- The javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="../assets/js/jquery.js"></script>
<script src="../assets/js/loadJS.js"></script>
  </body>
</html>
