<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Team Nutmeg</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- The styles -->
  <link href="../assets/css/bootstrap.css" rel="stylesheet">
  <link href="../assets/css/bootstrap-responsive.css" rel="stylesheet">
  <link href="../assets/css/user-visits.css" rel="stylesheet">

  <link href="../assets/js/google-code-prettify/prettify.css" rel="stylesheet">

  <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
      <![endif]-->
</head>

<body data-spy="scroll" data-target=".bs-docs-sidebar">
  <div id = "navbar"></div>
  <!-- HTML Starts Here -->
  <div class = "jumbotron">
    <h2> User Visits</h2>
    <p> This is a compilation of our experiences with our users. </p>
  </div>

  <div class="container">

  <div class="starter-template text-section">
      <h3>User Visits</h3>
        Our team conducted a series of 6 user visits of different chefs or people who are mostly in charge of food within their household. We interviewed: <br>
        <ul>
          <li>A young married couple with no kids</li>
          <li>A stay-at-home mom with 4 kids</li>
          <li>The mother and father of 2 teenage girls</li>
          <li>The mother of two elementary school kids</li>
          <li>The mother and father of two younger children</li>
          <li>A mother of kids who are no longer at home</li>
        </ul>
        After our user visits, we synthesized our observations about our interviews into the poster pictured below. 
  </div>

  <div class="starter-template text-section">
      <h3>Synthesis Poster</h3>
      <div class="synthesis-poster">
        <img src="../assets/images/synthesis_poster.jpg">
      </div>
  </div>

  </div>




  <div id = "loadJS"></div>
<!-- The javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="../assets/js/jquery.js"></script>
<script src="../assets/js/loadJS.js"></script>

</body>
</html>
