<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Team Nutmeg</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- The styles -->
  <link href="../assets/css/bootstrap.css" rel="stylesheet">
  <link href="../assets/css/bootstrap-responsive.css" rel="stylesheet">
  <link href="../assets/css/wireframe_sitemap.css" rel="stylesheet">

  <link href="../assets/js/google-code-prettify/prettify.css" rel="stylesheet">

  <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
      <![endif]-->


</head>

<body data-spy="scroll" data-target=".bs-docs-sidebar">
  <div id = "navbar"></div>
  <!-- HTML Starts Here -->
  <div class = "jumbotron">
    <h2>Site Map and Wireframes</h2>
    <p> This is a look into what our team plans to build. The sitemap will give an overview of the pages of our site and the functionalities avaliable on each page. The wireframes will give a more in-depth look in to the look and feel of each individual page and some of the interactive options each page has.</p>
  </div>

  <div class="container">
    <h3>Site Map</h3>

    <div class="site-map">
      <img src="../assets/images/sitemap/sitemap2.png">
    </div>

    The above site map highlights the pages of our site: the main page, camera page, add entry page, and edit entry page. This graphic displays the path to each page. From the main page, a user can get to the camera page, from which they can either go back to the main page or go to the add entry page. From the add entry page, the user can cancel/save or re-take the picture. The other option from the main page is the edit entry page (when a user clicks on an image on the main page). The edit entry page can access the camera page and other applications (for sharing, e.g. on Facebook). <br><br>

    <div class="site-map">
      <img src="../assets/images/sitemap/sitemap1.png">
    </div>

    <br>

    This second 'site map' is more of an interactive look at the options the user can exercise on each of the pages. The main page has a search option that allows the users to filter the recipies on their main screen by one of the predetermined filters (main dishes, appetizers, desserts, etc.). The main page also is scrollable and has a list of recipies that the user has entered sorted by date. <br><br>

    The camaera page enables the phone's camera, and allows the user to go back to the main screen or take a picture (and then to either discard or save the picture that was just taken).<br><br>

    The add entry page allows the user to enter information in the following fields listed in the image, where all the fields will be editable.<br><br>

    The edit entry page is similar to the add entry page (as far as it's function of editing the information about a dish), but instead of editable fields, each of the fields is fixed with an edit hyperlink next to each one. <br><br>

    When a user selects to either add or edit a recipe the recipe dialogue will appear and allow a user to add/edit a recipe by entering a recipe by one of the formats shown in the list.<br><br>

    When a user selects to either add or edit a category on a dish, a drop down with the previously saved categories will appear, where there will also be an option to add a new entry.

    <h3>Wireframes</h3>

    For all of the pages and many of the interactions listed above, we have digitally sketched out what we'd like our interface to look like.

    <h4>The Main Page</h4>

    <div class="app-screens">
      <img src="../assets/images/design/main_screen.png"></img>
    </div>

    <h4>Filtering the Main Page Dishes</h4>

    <div class="app-screens">
      <img src="../assets/images/design/search.png">
    </div>

    <h4>The Camera Page</h4>

    <div class="app-screens">
      <img src="../assets/images/design/camera.png">
    </div>

    <h4>The Add Entry Page</h4>

    <div class="app-screens">
      <img src="../assets/images/design/add_entry.png">
    </div>

    <h4>Adding a Recipe</h4>

    <div class="app-screens">
      <img src="../assets/images/design/recipes.png">
    </div>

    <div class="app-screens">
      <img src="../assets/images/design/recipes2.png">
    </div>

    <h4>Adding a Category</h4>

    <div class="app-screens">
      <img src="../assets/images/design/categories2.png">
    </div>

    <h4>The Edit Entry Page</h4>

    <div class="app-screens">
      <img src="../assets/images/design/edit_entry.png">
    </div>

    <h4>Sharing a Dish</h4>

    <div class="app-screens">
      <img src="../assets/images/design/share.png">
    </div>

  </div>
<div id="loadJS"><!-- The javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../assets/js/insertNav.js"></script>
    <script src="../js/dropdown.js"></script>
    <!-- Unused
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    <script src="js/transition.js"></script>
    <script src="js/alert.js"></script>
    <script src="js/modal.js"></script>
    <script src="js/scrollspy.js"></script>
    <script src="js/tab.js"></script>
    <script src="js/tooltip.js"></script>
    <script src="js/popover.js"></script>
    <script src="js/button.js"></script>
    <script src="js/collapse.js"></script>
    <script src="js/carousel.js"></script>
    <script src="js/typeahead.js"></script>
    <script src="js/affix.js"></script>
    <script src="assets/js/holder/holder.js"></script>
    <script src="assets/js/google-code-prettify/prettify.js"></script>
    <script src="assets/js/application.js"></script>
    -->
</div>
<!-- The javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="../assets/js/jquery.js"></script>
<script src="../assets/js/loadJS.js"></script>





</body>
</html>