<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Team Nutmeg</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- The styles -->
  <link href="../assets/css/bootstrap.css" rel="stylesheet">
  <link href="../assets/css/bootstrap-responsive.css" rel="stylesheet">

  <link href="../assets/js/google-code-prettify/prettify.css" rel="stylesheet">

  <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
      <![endif]-->


</head>

<body data-spy="scroll" data-target=".bs-docs-sidebar">
  <div id = "navbar"></div>
  <!-- HTML Starts Here -->
  <div class = "jumbotron">
    <h2> Work Distribution</h2>
    <p> This is a table that represents the approximate work distribution throughout the phases for the project </p>
  </div>

<div class = "container">
  <div class = "span8">
    <table class ="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Tasks</th>
          <th>Ari</th>
          <th>Chris</th>
          <th>Lisa</th>
          <th>Sarah</th>
        </tr>
      </thead>
      <tbody>
<!--heading      Task                            Ari             Chris           Lisa           Sarah  -->
        <tr class="success"><td class = "success" colspan = "5">General</td></tr>
        <tr><td> Work Distribution      </td><td>25&#37;</td> <td>25&#37;</td> <td>25&#37;</td> <td>25&#37;</td>  
        <tr><td> Consent Narrative      </td><td>25&#37;</td> <td>25&#37;</td> <td>25&#37;</td> <td>25&#37;</td>
        <tr><td> Website                </td><td>10&#37;</td> <td>50&#37;</td> <td>10&#37;</td> <td>30&#37;</td>

        <tr class="danger"><td class = "success" colspan = "5"> Exploration: Phase I</td></tr>
        <tr><td> Project Brief          </td><td>25&#37;</td> <td>25&#37;</td> <td>25&#37;</td> <td>25&#37;</td>
        <tr><td> User Visits            </td><td>25&#37;</td> <td>25&#37;</td> <td>25&#37;</td> <td>25&#37;</td>
        <tr><td> Personas               </td><td>25&#37;</td> <td>25&#37;</td> <td>25&#37;</td> <td>25&#37;</td>        
        <tr><td> Needs Analysis         </td><td>25&#37;</td> <td>25&#37;</td> <td>25&#37;</td> <td>25&#37;</td>
        <tr><td> Inspirational Designs  </td><td>25&#37;</td> <td>25&#37;</td> <td>25&#37;</td> <td>25&#37;</td>
        <tr class="warning"><td class = "success" colspan = "5"> Idea Development: Phase II</td></tr>
        <tr><td> Storyboard             </td><td>30&#37;</td> <td>30&#37;</td> <td>20&#37;</td> <td>20&#37;</td>
        <tr><td> Prototype Visits       </td><td>26&#37;</td> <td>26&#37;</td> <td>26&#37;</td> <td>23&#37;</td>
        <tr><td> Design Development     </td><td>20&#37;</td> <td>27&#37;</td> <td>27&#37;</td> <td>27&#37;</td>
        <tr><td> Site Map and Wireframes</td><td>10&#37;</td> <td>30&#37;</td> <td>30&#37;</td> <td>30&#37;</td>
        <tr class="warning"><td class = "success" colspan = "5"> Final Prototyping: Phase III</td></tr>
        <tr><td> Prototype I            </td><td>33&#37;</td> <td>34&#37;</td> <td>0&#37;</td> <td>33&#37;</td>
        <tr><td> Presentation           </td><td>25&#37;</td> <td>25&#37;</td> <td>25&#37;</td> <td>25&#37;</td>

          <!--
        <tr><td>                        </td><td>25&#37;</td> <td>25&#37;</td> <td>25&#37;</td> <td>25&#37;</td>
        <tr><td>                        </td><td>25&#37;</td> <td>25&#37;</td> <td>25&#37;</td> <td>25&#37;</td>
        <tr><td>                        </td><td>25&#37;</td> <td>25&#37;</td> <td>25&#37;</td> <td>25&#37;</td>
        <tr><td>                        </td><td>25&#37;</td> <td>25&#37;</td> <td>25&#37;</td> <td>25&#37;</td>
        <tr><td>                        </td><td>25&#37;</td> <td>25&#37;</td> <td>25&#37;</td> <td>25&#37;</td>
        -->



<div id = "loadJS"></div>
<!-- The javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="../assets/js/jquery.js"></script>
<script src="../assets/js/loadJS.js"></script>

</body>
</html>
