/*
Main.html CSS file
author: Chris Lee
created: 10/27/2013
*/


/*Profile Picture*/
#profile{
	border-style:solid;
	border-color:#000000;
	border-width:5px;
	width:100%;
	margin-left:auto;
	margin-right:auto;
}

#body {
	margin-right: auto;
	margin-left: auto;
	width:400px;
}

h1.name {
	text-align: center;
	font-size:60px;
	font-family:"Raleway";
}
